body{
    background-color: beige;
}
main{
    margin-top: 30px;
    display: flex;
    flex-direction: column
}
.wall{
    width:30px;
    height:30px;
    }
.hidden{
    display: none
}
#playAgain{
    margin: 50px auto; 
    text-align: center;
    width: fit-content;
    padding: 5px 15px;
    border-radius: 10px;
    color: #fff;
    font-size:30px;
    background-color: rgb(51, 185, 84);
    border: 1px solid transparent
    
}
#playAgain:hover{
    transition:0.5s;
    background-color: beige;
    color: rgb(51, 185, 84);
    border: 1px solid rgb(51, 185, 84);
    cursor: pointer;
    
}

#character{
    width:30px;
    height:30px;
    }

#victoryMessage{
    animation: victoryAnimation 0.5s ease 0s infinite alternate none;
    text-align:center;
    font-size: 30px;
}

.line{
    justify-content: center;
    display:flex
    }

.blank{
    width:30px;
    height:30px;
    }


@keyframes victoryAnimation {
        0.0%{
        }
        100%{
            color: green;
        }
    }
    
@keyframes slideRight {
        from {margin-left: -33px;}
        to {margin-left: 0;}
        }
        
       